html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#020617;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

/* HERO SECTION */

.hero{
position:relative;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
overflow:hidden;
}

/* VIDEO BACKGROUND */

.video-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-2;
overflow:hidden;
}

.video-bg iframe{
position:absolute;
top:50%;
left:50%;
width:177.77vh;
height:100vh;
transform:translate(-50%,-50%);
pointer-events:none;
}

/* DARK OVERLAY */

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(2,6,23,0.75);
z-index:-1;
}

.hero-content{
position:relative;
}

.hero h1{
font-size:50px;
}

.hero p{
font-size:20px;
max-width:700px;
margin:auto;
margin-top:20px;
}

.btn{
display:inline-block;
margin-top:30px;
padding:14px 28px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:6px;
font-size:18px;
}

.social{
margin-top:30px;
}

.social a{
margin:10px;
text-decoration:none;
color:white;
font-weight:bold;
padding:10px 20px;
border-radius:5px;
background:#1e293b;
}

.services{
padding:80px 20px;
background:#020617;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
}

.card{
background:#1e293b;
padding:30px;
border-radius:10px;
}

.contact{
text-align:center;
padding:80px 20px;
}

input, textarea{
width:80%;
max-width:500px;
padding:12px;
margin:10px;
border-radius:5px;
border:none;
}

button{
padding:12px 25px;
background:#22c55e;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

iframe{
border-radius:10px;
}

footer{
background:#020617;
padding:40px;
text-align:center;
}

footer a{
color:white;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:14px 20px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}